@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Google Sans', sans-serif;
    background-color: #f7f9fa;
    color: #0f172a;
    padding: 40px 20px;
}

.container {
    max-width: 1100px;
    margin: 50px auto;
    background-color: #f7f9fa;
    border: 1px solid #747474;
    padding: 24px;
}

.header {
    margin-bottom: 40px;
}

.sub-header {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #475569;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
}

.header h1 {
    font-size: 38px;
    font-weight: 800;
    line-height: 1.2;
    max-width: 650px;
    color: #0f172a;
}

.content-columns {
    display: flex;
    gap: 48px;
    align-items: flex-start;
}

.column {
    flex: 1;
}

.column h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 12px;
    color: #0f172a;
}

.col-desc {
    font-size: 14px;
    line-height: 1.4;
    color: #475569;
    margin-bottom: 24px;
    min-height: 40px;
}

.sub-desc {
    font-size: 14px;
    font-weight: 700;
    color: #0f172a;
    margin-bottom: 16px;
}


.badge {
    display: inline-block;
    padding: 10px 22px;
    border-radius: 20px;
    font-size: 52px;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 12px;
}

.badge-blue {
    background-color: #0082cb;
    color: #ffffff;
}

.badge-green {
    background-color: #27b653;
    color: #043915;
}

.badge-yellow {
    background-color: #fecb3e;
    color: #0f172a;
    font-size: 36px;
    padding: 12px 10px;
    border-radius: 16px;
    text-align: center;
    width: 100%;
}

.stat-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.35;
    color: #0f172a;
    margin-bottom: 24px;
}


.durability-stats {
    display: flex;
    gap: 10px;
}

.stat-item {
    flex: 1;
}

.stat-item .stat-text {
    font-weight: 700;
    font-size: 12px;
    margin-top: 10px;
    line-height: 1.3;
}


.btn-more {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #0f172a;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    border: 2px solid #000000;
    border-radius: 14px;
    box-shadow: 3px 3px 0px #000000;
    margin-top: 12px;
}